@model MoviePJ.Areas.Admin.ViewModels.Account.AdminProfileVM
@section scripts {
	<partial name="_Validation" />
}

<!-- [ tooltip-modal ] start -->
<div class="col-xl-4 col-md-6">
	<div class="card">
		<div class="card-body">
			<div id="exampleModalPopovers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalPopoversLabel">Change Avatar</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<form method="POST" asp-action="ChangeAvt" asp-controller="Account" asp-area="Admin" enctype="multipart/form-data">
							<div class="modal-body">
								<div class="row" style="justify-content: center">
									<img id="imagePreview" src="/@Model.Avatar" alt="" style="width: 200px; height: 170px; object-fit:cover; border-radius: 50%" ><br>
								</div>

								<div class="row user-box">
									<input type="file" id="fileInput" class="form-control" style="margin-top: 10px" asp-for="@Model.AvatarUpload" placeholder="Your Avatar Upload... (*)">
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn  btn-primary">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ tooltip-modal ] end -->

<script>
	const fileInput = document.getElementById('fileInput');
	const imagePreview = document.getElementById('imagePreview');

	fileInput.addEventListener('change', function () {
		const file = fileInput.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function (e) {
				imagePreview.src = e.target.result;
			};
			reader.readAsDataURL(file);
		}
	});
</script>