@section scripts {
    <partial name="_Validation" />
}
<!--signup form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content" style="width: 430px">
        <a href="#" class="close">x</a>
        <h3>Register</h3>
        <partial name="_FormRegister.cshtml"/>
    </div>
</div>
<!--end of signup form popup-->