<select id="@ViewBag.For" name="@ViewBag.For"
        asp-items="(MultiSelectList)ViewBag.filmMaker"
        class="selectpicker form-control" title="Makers list..." multiple ata-live-search="true">
    @if (ViewBag.AllowNull == true)
    {
        var ids = Model.SelectedFilmMaker?.Split(',').Select(int.Parse("")).ToList() ?? new List<int>();
        if (ids.Contains(-1))
        {
            <option value="-1" disabled selected>There is no maker</option>
        }
        else
        {
            <option value="-1">There is no maker</option>
        }
    }
</select>