@{
	ViewData["Title"] = "Page not foud";
}

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<img src="/images/background/err-img.png" alt="" style="object-fit:cover">
				<h1>Page not found</h1>
				<a asp-action="Index" asp-controller="Home" class="redbtn">Back to home</a>
			</div>
		</div>
	</div>
</div>