@{
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>500 Error</title>

    <!-- App favicon -->
    <link rel="icon" href="~/folder-manager-32px.ico" type="image/x-icon" />

    <!-- Layout config Js -->
    <script src="~/admintle/pagepro/js/layout.js" asp-append-version="true"></script>
    <!-- Bootstrap Css -->
    <link href="~/admintle/pagepro/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- Icons Css -->
    <link href="~/admintle/pagepro/css/icons.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- App Css-->
    <link href="~/admintle/pagepro/css/app.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- custom Css-->
    <link href="~/admintle/pagepro/css/custom.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        /*Thanh trược*/
        .scroll-bar::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #233a50;
        }

        .scroll-bar::-webkit-scrollbar-thumb {
            background-color: #55928c;
        }
    </style>
</head>

<body class="scroll-bar">

    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden p-0">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-4 text-center">
                        <div class="error-500 position-relative">
                            <img src="~/admintle/pagepro/images/error500.png" alt="" class="img-fluid error-500-img error-img" />
                            <h1 class="title text-muted">500</h1>
                        </div>
                        <div>
                            <h4>Internal Server Error!</h4>
                            <p class="text-muted w-75 mx-auto">Server Error 500. We're not exactly sure what happened, but our servers say something is wrong.</p>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-success"><i class="mdi mdi-home me-1"></i>Back to home</a>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth-page content -->
    </div>
    <<!-- end auth-page-wrapper -->
    <!-- JAVASCRIPT -->
    <script src="~/admintle/pagepro/libs/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/admintle/pagepro/libs/simplebar/simplebar.min.js" asp-append-version="true"></script>
    <script src="~/admintle/pagepro/libs/node-waves/waves.min.js" asp-append-version="true"></script>
    <script src="~/admintle/pagepro/libs/feather-icons/feather.min.js" asp-append-version="true"></script>
    <script src="~/admintle/pagepro/js/pages/plugins/lord-icon-2.1.0.js" asp-append-version="true"></script>
    <script src="~/admintle/pagepro/js/plugins.js" asp-append-version="true"></script>

    <!-- particles js -->
    <script src="~/admintle/pagepro/libs/particles.js/particles.js" asp-append-version="true"></script>
    <!-- particles app js -->
    <script src="~/admintle/pagepro/js/pages/particles.app.js" asp-append-version="true"></script>
    <!-- password-addon init -->
    <script src="~/admintle/pagepro/js/pages/password-addon.init.js" asp-append-version="true"></script>
</body>

</html>